.DS_Store
.python
.vagrant
*.pyc
*kdev*
__pycache__
docs/html
*.lprof
*.log
*~
*.qm
*.mo
build
LC_MESSAGES
tags
tmp
Arcus
UM

# We share the PyCharm settings but some files must be not versioned
# Created by https://www.gitignore.io/api/pycharm

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm

*.iml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries
